html {
  /* set to 10px for compatibility with Bootstrap-based components */
  font-size: 10px;
}

body {
  font-family: "Lato",sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 1.4em;
  margin: 0;
}

body.low-contrast {
  color: #000;
  line-height: 1em;
  letter-spacing: 0;
  padding: 0;
}

body.high-contrast {
  color: #ffffff;
  background: #000;
  letter-spacing: 0;
  padding: 1em;
}

/* Hides text from user but leaves it accessible for screen readers. */
/* Source: http://webaim.org/techniques/css/invisiblecontent/ */
.hidden-text {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

@media only screen and (min-width: 1071px) {
  body.low-contrast>nav li.default > a > span {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }

  body.low-contrast>nav li.default > a {
    width: 1em;
  }

  body.low-contrast>nav li.default > a:hover,
  body.low-contrast>nav li.default.active > a {
    border: 0;
    margin-bottom: 2px;
  }

  body.low-contrast>nav li.default > a > i {
    background-image: url(../images/home-font-awesome-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.6em;
    height: 1.6em;
    display: block;
    position: absolute;
    top: 0.6em;
    left: 0;
  }
}

a:link, a:visited {
  font-style: normal;
  color: #000;
  text-decoration: underline;
}

.high-contrast a:link,
.high-contrast a:visited {
  color: #ffff14;
}

.high-contrast a:hover,
.high-contrast a:focus {
  outline: 3px solid #236aff;
}

h1 {
  font-size: 1.8em;
  line-height: 1em;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  padding: 0;
  margin: 0 0 0.5em 0;
  position: relative;
}

.high-contrast header h1 {
  display: block;
  padding: 20px;
  margin: 0.1em auto;
  height: auto;
  background: #333333;
  z-index: 1;

  font-size: 2.8em;
  text-align: center;
  clear: both;
}

h3 {
  font-size: 1.4em;
  line-height: 1.3em;
  font-weight: normal;
  color: #000;
  text-align: left;
  padding: 0;
  margin: 0 0 0.5em 0;
}

ul {
  padding: 0 0 0 2em;
  margin: 1em;
  list-style-image: url(../images/arrow-white-in-red-box.png);
  text-align: left;
}

ul li {
  padding: 0 0 0.5em 0;
  margin: 0;
}

header {
  position: relative;
  display: block;
  height: auto;
  width: auto;
  background: #fbfbfb;
}

.high-contrast header {
  background: #191919;
  text-align: center;
}

#header-separator {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  height: 55px;
  width: 100%;
  overflow: visible;
  background: url(../images/pot-background.png) repeat-x center;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  z-index: 0;
  opacity: 0.5;
  transition-duration: 1s;
}

#header-logo {
  position: absolute;
  left: 5px;
  display: block;
  padding: 0;
  margin: 0;
  width: 243px;
  height: 100%;
  z-index: 2;
  border: 0;
  cursor: pointer;
}

#header-logo a {
  display: block;
  padding: 0;
  text-indent: -1000em;
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-image: url(../images/pzw-logo-2017-2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  white-space: nowrap;
}

#header-modules {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 3em 0 0 0;
  height: 42px;
  text-align: right;
  z-index: 1;
}

.high-contrast #header-modules {
  padding: 1em;
  height: auto;
  display: inline-block;
}

#header-modules > div {
  float: right;
  width: auto;
  margin: 0.3em 1em 0 0;
}

#contrast a,
#contrast a:visited {
  text-decoration: none;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  padding: 0;
  margin: 0;
  display: block;
}

.high-contrast #contrast a,
.high-contrast #contrast a:visited,
.high-contrast #font-resize>a:link,
.high-contrast #font-resize>a:visited {
  padding: 0.3em 0.5em;
  border: 1px solid #ffff14;
  text-transform: none;
}

#font-resize>a {
  text-decoration: none;
  display: inline-block;
}

.low-contrast #font-resize>a {
  float:left;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.low-contrast #font-resize>a::before {
  content: "A";
}
.low-contrast #font-resize>a>span {
  display: none;
}
.low-contrast #font-resize-small {
  font-size: 1.4rem;
}
.low-contrast #font-resize-medium {
  font-size: 2rem;
}
.low-contrast #font-resize-large {
  font-size: 2.6rem;
}

#mobile-menu-checkbox,
#mobile-menu-label {
  display: none;
}

body>nav {
  position: relative;
  display: block;
  padding: 0;
  margin: 0 auto;
  border-top: 5px solid #f2f2f2;
  background: #d42128;
  width: 100%;
  z-index: 2;
  transition-duration: 1s;
}

body.high-contrast>nav {
  float: left;
  width: 25%;
  background: none;
  border: 0;
}

body>nav ul {
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  overflow: hidden;
}

body.high-contrast>nav ul {
  background-color: #191919;
  padding: 10px;
  clear: both;
}

body>nav li {
  display: inline-block;
  padding: 0;
  border: 0;
  list-style: none;
  z-index: 1;
  padding-bottom: 4px;
}

body.high-contrast>nav li {
  display: block;
}

body>nav a:link,
body>nav a:visited {
  display: block;
  margin: 0;
  border: 0;
  height: auto;
  color: #fff;
  font-size: 1.2em;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  padding: 0.7em 0.7em;
  border-bottom: 2px solid #d42128;
}

body>nav a:hover,
body>nav li.active > a {
  border-bottom: 2px solid #fff;
}

body.high-contrast>nav a:link,
body.high-contrast>nav a:visited
body.high-contrast>nav li.active > a {
  border: 0;
  font-size: 1.6em;
  line-height: 1.2em;
  padding: 6px 4px 6px 0;
  text-transform: none;
}

body.high-contrast>nav a:hover,
body.high-contrast>nav li.active > a {
  color: white;
}

.pzw-template-inside {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

#breadcrumbs {
  position: relative;
  display: block;
  text-align: left;
  padding: 0.5em;
  margin: 1em 0 1em 0;
  height: 1%;
  border: 1px solid #333333;
  background: transparent;
  font-size: 0.9em;
  line-height: 1em;
}

#breadcrumbs ul {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-image: none;
  width: auto;
  display: inline-block;
}

#breadcrumbs ul li {
  position: relative;
  float: left;
  display: inline;
  margin-left: 0.5em;
  padding: 0;
  border: 0;
  text-align: center;
  list-style: none;
}

.low-contrast #breadcrumbs {
  display: none;
}

.not-frontpage main .pzw-template-inside {
  margin: 4em auto;
}

header .pzw-template-inside {
  height: 120px;
}

.high-contrast .pzw-template-inside {
  margin: 0;
  max-width: none;
}

.high-contrast header .pzw-template-inside {
  height: auto;
}

/* mod_search */

.search input[type=image] {
  float: left;
  padding-right: 5px;
  position: relative;
  top: -6px;
}

.high-contrast .search input[type=image] {
  display: none;
}

.low-contrast .search input[type=search] {
  float: left;
  border: 0;
  border-bottom: 1px Solid black;
  background-color: transparent;
  font-family: Arial;
  font-size: 80%;
  padding-bottom: 10px;
}

.high-contrast .search input[type=search] {
  font-size: 1em;
  font-weight: normal;
  text-align: left;
  border: 1px solid #fff;
  width: 90%;
  margin: 0;
  padding: 0.7em;
  box-sizing: border-box;
  background: #000;
  color: #fff;
}

.search .form-inline button,
.search .only,
.search .form-limit {
  display: none;
}

.high-contrast .search button {
  display: block;
  font-size: 1.2em;
  color: #000;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  width: auto;
  height: auto;
  margin: 0.2em;
  padding: 0.3em 1em 0.3em 1em;
  border: 0;
  overflow: hidden;
  background: #ffff14;
  cursor: pointer;
}

.search input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #000;
}
.search input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #000;
  opacity:  1;
}
.search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000;
}
.search input::-ms-input-placeholder { /* Microsoft Edge */
  color: #000;
}

.high-contrast .search input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: white;
}
.high-contrast .search input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: white;
  opacity:  1;
}
.high-contrast .search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}
.high-contrast .search input::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

#facebook-logo {
  width: 29px;
  height: 29px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.low-contrast #facebook-logo {
  background-image: url(../images/facebook-blue.png);
}
.high-contrast #facebook-logo {
  background-image: url(../images/facebook-white.png);
}

#banner {
  position: relative;
  text-align: center;
}

.high-contrast #banner {
  float: left;
  width: 75%;
}

#banner img {
  margin: 50px auto;
  max-width: 100%;
  height: auto;
}

.high-contrast #banner img {
  margin: 0;
}

.low-contrast main {
  margin-left: 2%;
  margin-right: 2%;
}

.high-contrast main {
  float: left;
  width: 73%;
  margin-left: 1%
}

main .item-page,
form#ju-contact fieldset>div {
  font-size: 1.1em;
  line-height: 1.6em;
  font-weight: normal;
  text-align: left;
  padding: 0;
  margin: 0;
  position: relative;
}

main .item-page strong {
  font-weight: 700;
}

main .page-header a,
main .blog-featured .item-title a {
  text-decoration: none;
}

main .item-page > .page-header,
main .blog > .page-header,
main .blog-featured > .page-header {
  position: relative;
  margin: 1em 0;
  padding: 0;
  width: auto;
  min-height: 20px;
  text-align: center;
  border-bottom: 1px solid #f3f3f3;
}

.high-contrast main .item-page > .page-header,
.high-contrast main .blog > .page-header,
.high-contrast main .blog-featured > .page-header {
  margin: 0;
  border: 0;
  text-align: left;
  min-height: none;
}

main .page-header h2,
form#ju-contact legend {
  position: relative;
  display: inline-block;
  padding: 0 0 0.5em;
  margin: 0;
  text-align: center;
  font-weight: 700;
  text-transform: none;
  font-size: 3em;
  line-height: 1em;
}

.high-contrast main .page-header h2,
.high-contrast form#ju-contact legend {
  font-size: 1.6em;
  line-height: 1em;
  font-weight: bold;
  text-align: left;
  padding: 0;
}

.high-contrast .jubootstrap legend {
  color: white;
  border: 0;
}

#ju-contact .btn-submit-form {
  border-radius: 0;
  background: #d42128;
  padding: 6px 12px;
  font-size: 14px;
  border-color: #d42128;
}

#ju-contact .btn-submit-form:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

main img {
  max-width: 100%;
}

main .page-header h3 {
  font-size: 1.4em;
  line-height: 1.2em;
  font-weight: normal;
  color: #000;
  text-align: left;
  padding: 0;
  margin: 0 0 0.5em 0;
  border: 0;
}

main .page-header time,
main .blog-featured .item time {
  position: relative;
  background: #d42128;
  display: inline-block;
  width: auto;
  text-align: left;
  padding: 0.2em;
  margin: 0.3em 0;
  height: 1%;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  font-size: 0.9em;
  line-height: 1em;
}

main .blog .item,
main .blog-featured .item {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 2em;
  overflow: hidden;
  list-style: none;
  text-align: left;
  border-bottom: 1px solid #f1f1f1;
}

main .blog .item h3,
main .blog-featured .item h3 {
  margin: 0 0 0.3em 0;
  color: #000;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  font-size: 1.6em;
  line-height: 1em;

  display: inline-block;
  vertical-align: text-top;
  padding-left: 1em;
}

main .blog .row-0 h3>a,
main .blog-featured .row-0 h3>a {
  color: #d42128;
}

main .blog .item p,
main .blog-featured .item p {
  display: block;
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 1em 0 0.5em;
}

main .blog .item .readmore a:link,
main .blog .item .readmore a:visited,
main .blog-featured .item .readmore a:link,
main .blog-featured .item .readmore a:visited {
  display: block;
  text-decoration: none;
  line-height: 1.1em;
  font-style: italic;
}

main .blog .item .icon-chevron-right,
main .blog-featured .item .icon-chevron-right {
  position: relative;
  display: inline-block;
  float: right;
  margin: 1em 0 0 0;
  color: #d42128;
  border: 1px solid #d42128;
  transition: 0.5s;
}

main .blog .item .icon-chevron-right::after,
main .blog-featured .item .icon-chevron-right::after {
  position: relative;
  display: inline-block;
  float: none;
  padding: 0.3em;
  content: ">";
  color: #d42128;
}

main .blog .item .icon-chevron-right:hover,
main .blog-featured .item .icon-chevron-right:hover {
  background-color: #d42128;
}

main .blog .item .icon-chevron-right:hover::after,
main .blog-featured .item .icon-chevron-right:hover::after {
  color: #fff;
}

main .icons {
  position: relative;
  padding: 1em 0;
  margin: 0;
  z-index: 1;
  border: 0;
  min-height: 50px;
}

main .icons .dropdown-menu {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-image: none;
  width: auto;
}

main .icons .dropdown-menu > li {
  position: relative;
  float: left;
  display: inline;
  margin-right: 0.5em;
  padding: 0;
  border: 0;
  text-align: center;
  list-style: none;
}

main .icons .dropdown-menu > li > a {
  display: inline-block;
  border: 1px solid #7d7d7d;
  font-size: 0.8em;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 1s;

  position: relative;
  padding: 0.5em 0.3em;
}

.high-contrast main .icons .dropdown-menu > li > a {
  border: 1px solid #ffff14;
}

main .pagination ul {
  text-align: center;
}

main .pagination li {
  list-style: none;
  display: inline;
}

main .pagination li a {
  border: 1px solid #d42128;
  text-decoration: none;
}

main .pagination li a:hover {
  background: #d42128;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

main .pagination li a,
main .pagination li span {
  line-height: 1em;
  padding: 0.3em 0.5em 0.3em 0.5em;
  font-size: 1.3em;
}

main .item-pagefrontpage > .page-header,
main .item-pagefrontpage > .icons,
main .item-pagefrontpage > .article-info,
main .item-page > .article-info,
.element-invisible,
main .article-info-term,
main .createdby,
main .category-name,
main .published,
main .hits,
main .pager,
main .pagination .counter,
main .pagination .pagination-start,
main .pagination .pagination-end,
main .search .result-category
{
  display: none;
}

footer {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: auto;
  background: #eee;
  border-top: 6px solid #d42128;
  clear: both;
}

.high-contrast footer {
  background: inherit;
  border: 0;
}

#footer-content {
  position: relative;
  padding: 1em;
  margin: 0 auto;
  width: 50%;
  float: left;
  min-height: 100px;
  z-index: 1;
}

#footer-content {
  font-size: 1.1em;
  line-height: 1em;
  color: #000000;
  text-align: center;
  display: block;
  margin: 0 0 0.8em 0;
}

#footer-content h3 {
  font-size: 1.1em;
  line-height: 1em;
  color: #000000;
  font-weight: 600;
  text-align: center;
  display: block;
  margin: 0 0 0.8em 0;
}

#footer-content p {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  background: transparent;
  font-size: 1.1em;
  line-height: 1.4em;
  text-align: center;
}

#footer-content a {
  color: #bb1017;
  text-decoration: none;
}

#footer-content strong {
  font-size: 1.1em;
  line-height: 1em;
  color: #000000;
  font-weight: 600;
  text-align: center;
  display: block;
  margin: 0 0 0.8em 0;
}

#footer-bottom-menu,
#footer-right-menu {
  position: relative;
  padding: 0.5em;
  margin: 0;
  border-top: 3px solid #d42128;
  text-align: center;
  z-index: 1;
  background: #fff;
}

#footer-bottom-menu {
  clear: both;
}

#footer-right-menu {
  width: 30%;
  float: right;
  border-top: 0;
  background: #717171;
  text-align: left;
}

#footer-bottom-menu .menu,
#footer-right-menu .menu
 {
  position: relative;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  float: none;
  list-style-type: none;
  list-style-image: none;
  text-align: center;
  width: auto;
}

#footer-right-menu .menu {
  text-align: left;
  float: left;
  clear: left;
}

#footer-bottom-menu .menu > li,
#footer-right-menu .menu > li {
  text-align: left;
  margin: 1em;
  border: 0;
  padding: 0;
  float: none;
  display: inline-block;
  list-style: none;
  position: relative;
}

#footer-right-menu .menu > li {
  width: 100%;
}

.low-contrast #footer-bottom-menu .menu > li > a::before,
#footer-right-menu .menu > li > a::before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background-image: url(../images/double-arrows-red.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  padding: 2px;
  content: "\00a0"
}

#footer-right-menu .menu > li > a::before {
  background-image: url(../images/double-arrows-white.png);
}

#footer-bottom-menu .menu > li > a:link,
#footer-bottom-menu .menu > li > a:visited,
#footer-right-menu .menu > li > a:link,
#footer-right-menu .menu > li > a:visited {
  font-size: 1em;
  padding: 0 0 0 2em;

  line-height: 1em;
  text-decoration: none;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  margin: 0;
  display: block;
 }

 .high-contrast #footer-bottom-menu .menu > li > a:link,
 .high-contrast #footer-bottom-menu .menu > li > a:visited {
   text-transform: inherit;
   padding: 0.2em 0.5em;
   border: 1px solid #ffff14;
 }

 #footer-right-menu .menu > li > a:link,
 #footer-right-menu .menu > li > a:visited {
   color: #fff;
 }


 .low-contrast #footer-bottom-menu .menu > li > a:hover,
 .low-contrast #footer-bottom-menu .menu > li > a:active {
  color: #d42128;
  text-decoration: underline;
  transition-duration: 0.6s;
 }

 .high-contrast #footer-content,
 .high-contrast #footer-right-menu {
   display: none;
 }

 .high-contrast #footer-bottom-menu {
   border-top: 1px dotted #ffffff;
   background: inherit;
 }

.low-contrast #back-to-top {
  position: fixed;
  bottom: 5em;
  width: 50px;
  height: 50px;
  z-index: 10;
  opacity: 1;
  transition-duration: 1s;
  visibility: visible;
  display: block;
  right: 0;
}

.low-contrast #back-to-top a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #fefefe;
  color: #000000;
  text-decoration: none;
  border: 1px solid #f1f1f1;
}

.low-contrast #back-to-top i {
  position: absolute;
  background-image: url(../images/double-arrows-black-up.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position-x: center;
  background-position-y: 5px;
}

.low-contrast #back-to-top a span {
  position: absolute;
  bottom: 6px;
  display: block;
  font-size: 0.9em;
  line-height: 0.9em;
  width: 100%;
  text-align: center;
}

#back-to-top a span {
  text-align: left;
  display: block;
}

@media only screen and (max-width: 1070px) {
  #footer-right-menu .menu > li {
    margin-left: 0;
    margin-right: 0;
  }

  .low-contrast header {
    border-bottom: 3px solid #d42128;
  }

  .low-contrast #header-modules,
  .low-contrast #back-to-top a span {
    display: none;
  }

  .low-contrast #mobile-menu-label {
    display: block;
    background-image: url(../images/hamburger.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    width: 34px;
    height: 29px;
    position: absolute;
    right: 15px;
    top: 45px;
    cursor: pointer;
  }

  .high-contrast header h1 {
    padding: 10px;
    font-size: 2em;
  }

  .high-contrast #mobile-menu-label {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    padding: 15px;
    margin: 5px;
    border: 1px solid #ffff14;
    color: #ffff14;
  }

  #mobile-menu-checkbox + #mobile-menu-label + nav {
    display:none;
  }

  #mobile-menu-checkbox:checked + #mobile-menu-label + nav {
    display:block;
  }

  body>nav {
    position: relative;
    background-color: white;
    height: auto;
  }

  body.low-contrast>nav li.default > a > i {
    display: none;
  }

  body.high-contrast>nav {
    background-color: inherit;
    width: 100%;
    float: none;
    left: 0;
  }

  body.low-contrast>nav .pzw-template-inside {
    width: 100%;
  }

  body.low-contrast>nav li {
    width: 100%;
    border-bottom: 1px solid #a6b5bc;
  }

  body.low-contrast>nav a:link,
  body.low-contrast>nav a:visited {
    color: black;
    font-weight: normal;
    text-align: center;
    padding: 2em;
    border-bottom: 0;
  }

  body.low-contrast>nav a:hover {
    background-color: lightgray;
  }

  body.high-contrast>nav a:link,
  body.high-contrast>nav a:visited {
    text-align: center;
  }

  .low-contrast #back-to-top {
    width: 30px;
    height: 33px;
  }

  #banner img {
    padding: 0;
    margin: 0;
  }

  .high-contrast #banner {
    float: left;
    width: 100%;
  }

  main {
    margin-left: 2%;
    margin-right: 2%;
  }

  .high-contrast main {
    float: left;
    width: 96%;
  }

  main .pzw-template-inside {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 720px) {
  .low-contrast header .pzw-template-inside {
    height: 80px;
  }

  .high-contrast header {
    text-align: right;
  }

  .high-contrast #header-modules > div {
    margin: 0.3em 0.5em 0 0;
  }

  #header-logo {
    width: 162px;
  }

  .high-contrast #font-resize {
    display: none;
  }

  .low-contrast #mobile-menu-label {
    top: 29px;
    background-size: 100%;
    width: 31px;
  }

  #footer-content,
  #footer-right-menu {
    width: 100%;
  }

  #footer-content {
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
    margin-top: 1em;
  }
}
