@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);
html {
  /* set to 10px for compatibility with Bootstrap-based components */
  font-size: 10px; }

body {
  font-family: "Roboto Condensed",sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 1.4em;
  margin: 0; }
  body.low-contrast {
    color: #000;
    line-height: 1em;
    letter-spacing: 0;
    padding: 0; }
  body.high-contrast {
    color: #ffffff;
    background: #000;
    letter-spacing: 0;
    padding: 1em; }

.custom p {
  line-height: 1.5;
  font-size: 1.9rem;
  padding-left: 2%;
  padding-right: 2%; }

/* Hides text from user but leaves it accessible for screen readers. */
/* Source: http://webaim.org/techniques/css/invisiblecontent/ */
.hidden-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

a:link, a:visited {
  font-style: normal;
  color: #000;
  text-decoration: underline; }
  .high-contrast a:link, .high-contrast a:visited {
    color: #ffff14; }

.high-contrast a:hover,
.high-contrast a:focus {
  outline: 3px solid #236aff; }

h1 {
  font-size: 1.8em;
  line-height: 1em;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  padding: 0;
  margin: 0;
  position: relative; }

h3 {
  font-size: 1.4em;
  line-height: 1.3em;
  font-weight: normal;
  color: #000;
  text-align: left;
  padding: 0;
  margin: 0 0 0.5em 0; }

ul {
  padding: 0 0 0 2em;
  margin: 1em;
  list-style-image: url(../images/arrow-white-in-red-box.png);
  text-align: left; }
  ul li {
    padding: 0 0 0.5em 0;
    margin: 0; }

header {
  position: relative;
  display: block;
  height: auto;
  width: auto;
  background-color: #679340;
  z-index: 5;
  line-height: 0; }

#header-logo {
  z-index: 2; }
  #header-logo a {
    cursor: pointer;
    margin-left: 5%;
    text-indent: -1000em;
    text-decoration: none;
    position: absolute; }
  #header-logo img {
    height: 30vw;
    display: block;
    margin-top: 6vw; }
    body.not-frontpage #header-logo img {
      display: none; }
    body.itemid-224 #header-logo img, body.itemid-225 #header-logo img {
      display: block; }

#header-modules {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse; }

#contrast a,
#contrast a:visited {
  text-decoration: none;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  padding: 0;
  margin: 0;
  display: block;
  background-image: url(../images/contrast.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain; }

#font-resize {
  display: flex; }
  #font-resize > a {
    text-decoration: none;
    display: inline-block; }
    .low-contrast #font-resize > a {
      padding-left: 0.5rem;
      padding-right: 0.5rem; }
      .low-contrast #font-resize > a::before {
        content: "A"; }

.low-contrast #font-resize-small {
  font-size: 1.4rem; }

.low-contrast #font-resize-medium {
  font-size: 2rem; }

.low-contrast #font-resize-large {
  font-size: 2.6rem; }

#mobile-menu-checkbox,
#mobile-menu-label {
  display: none; }

nav {
  display: flex; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: flex-end;
    text-align: center; }
    nav ul li {
      padding: 0; }

body nav a:link,
body nav a:visited {
  display: block;
  color: #fff;
  font-size: 1.2em;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.7em 0.7em;
  border-bottom: 2px solid #679340;
  border-top: 2px solid #679340;
  transition: color .3s ease; }

body nav a:hover,
body nav li.active > a {
  border-bottom: 2px solid #fff; }

body nav a:hover {
  color: #e52728; }

.pzw-template-inside {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }

.not-frontpage main .pzw-template-inside {
  margin: 4em auto; }

#facebook-logo {
  width: 29px;
  height: 29px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 10vw; }
  .low-contrast #facebook-logo {
    background-image: url(../images/facebook-blue.png); }
  .high-contrast #facebook-logo {
    background-image: url(../images/facebook-white.png); }

#banner div.custom {
  margin-top: 3rem; }

.bannergroup {
  position: relative;
  text-align: center; }
  .bannergroup img {
    max-width: 100%;
    height: auto; }

main img {
  max-width: 980px;
  height: auto; }
.low-contrast main {
  margin-left: 2%;
  margin-right: 2%; }
main .item-page {
  font-size: 1.1em;
  line-height: 1.6em;
  font-weight: normal;
  text-align: left;
  padding: 0;
  margin: 0;
  position: relative; }
  main .item-page strong {
    font-weight: 700; }

main .page-header a,
main .blog-featured .item-title a {
  text-decoration: none; }

main .item-page > .page-header,
main .blog > .page-header,
main .blog-featured > .page-header {
  position: relative;
  margin: 1em 0;
  padding: 0;
  width: auto;
  min-height: 20px;
  text-align: center;
  border-bottom: 1px solid #f3f3f3; }

main .page-header h2 {
  position: relative;
  display: inline-block;
  padding: 0 0 0.5em;
  margin: 0;
  text-align: center;
  font-weight: 700;
  text-transform: none;
  font-size: 3em;
  line-height: 1em; }

main .page-header h3 {
  font-size: 1.4em;
  line-height: 1.2em;
  font-weight: normal;
  color: #000;
  text-align: left;
  padding: 0;
  margin: 0 0 0.5em 0;
  border: 0; }

main .page-header time,
main .blog-featured .item time {
  position: relative;
  background: #679340;
  display: inline-block;
  width: auto;
  text-align: left;
  padding: 0.2em;
  margin: 0.3em 0;
  height: 1%;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  font-size: 0.9em;
  line-height: 1em; }

main .blog .item,
main .blog-featured .item {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 2em;
  overflow: hidden;
  list-style: none;
  text-align: left;
  border-bottom: 1px solid #f1f1f1; }
  main .blog .item h3,
  main .blog-featured .item h3 {
    margin: 0 0 0.3em 0;
    color: #000;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    font-size: 1.6em;
    line-height: 1em;
    display: inline-block;
    vertical-align: text-top;
    padding-left: 1em; }

main .blog .row-0 h3 > a,
main .blog-featured .row-0 h3 > a {
  color: #679340; }

main .blog .item p,
main .blog-featured .item p {
  display: block;
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 1em 0 0.5em; }

main .blog .item .readmore a:link,
main .blog .item .readmore a:visited,
main .blog-featured .item .readmore a:link,
main .blog-featured .item .readmore a:visited {
  display: block;
  text-decoration: none;
  line-height: 1.1em;
  font-style: italic; }

main .blog .item .icon-chevron-right,
main .blog-featured .item .icon-chevron-right {
  position: relative;
  display: inline-block;
  float: right;
  margin: 1em 0 0 0;
  color: #679340;
  border: 1px solid #679340;
  transition: 0.5s; }
  main .blog .item .icon-chevron-right::after,
  main .blog-featured .item .icon-chevron-right::after {
    position: relative;
    display: inline-block;
    float: none;
    padding: 0.3em;
    content: ">";
    color: #679340; }
  main .blog .item .icon-chevron-right:hover,
  main .blog-featured .item .icon-chevron-right:hover {
    background-color: #679340; }
    main .blog .item .icon-chevron-right:hover::after,
    main .blog-featured .item .icon-chevron-right:hover::after {
      color: #fff; }

main .icons {
  position: relative;
  padding: 1em 0;
  margin: 0;
  z-index: 1;
  border: 0;
  min-height: 50px; }
  main .icons .dropdown-menu {
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style-image: none;
    width: auto; }
    main .icons .dropdown-menu > li {
      position: relative;
      float: left;
      display: inline;
      margin-right: 0.5em;
      padding: 0;
      border: 0;
      text-align: center;
      list-style: none; }
      main .icons .dropdown-menu > li > a {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        transition: background-color .3s ease,color .3s ease;
        color: #fff;
        position: relative;
        padding: 0.5em;
        background-color: #679340;
        border: 2px solid #679340;
        border-radius: 10px; }
        main .icons .dropdown-menu > li > a:hover {
          background-color: #679340; }
        .high-contrast main .icons .dropdown-menu > li > a {
          border: 1px solid #ffff14; }

main .pagination ul {
  text-align: center; }

main .pagination li {
  list-style: none;
  display: inline; }
  main .pagination li a {
    border: 1px solid #679340;
    text-decoration: none; }
    main .pagination li a:hover {
      background: #679340;
      color: #ffffff;
      text-decoration: none;
      transition: all 0.2s ease-in; }

main .pagination li a,
main .pagination li span {
  line-height: 1em;
  padding: 0.3em 0.5em 0.3em 0.5em;
  font-size: 1.3em; }

main .item-pagefrontpage > .page-header,
main .item-pagefrontpage > .icons,
main .item-pagefrontpage > .article-info,
main .item-page > .article-info,
.element-invisible,
main .article-info-term,
main .createdby,
main .category-name,
main .published,
main .hits,
main .pager,
main .pagination .counter,
main .pagination .pagination-start,
main .pagination .pagination-end,
main .search .result-category {
  display: none; }

footer {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: auto;
  clear: both; }

body.not-frontpage footer {
  border-top: 2px solid #679340; }

#organizers {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: left;
  align-items: center;
  padding: 5vh; }
  #organizers > div {
    display: flex;
    align-items: flex-end;
    margin-bottom: 2rem; }
  #organizers img {
    height: 4rem;
    margin-right: 1.5rem; }

#footer-content {
  position: relative;
  min-width: 50%;
  width: 100%;
  float: left;
  z-index: 1;
  font-size: 1.1em;
  line-height: 1em;
  color: #000000;
  text-align: center;
  display: block; }
  #footer-content .custom {
    display: inline-block;
    vertical-align: top;
    width: 25%; }
  #footer-content h3 {
    font-size: 1.1em;
    line-height: 1em;
    color: #000000;
    font-weight: 600;
    text-align: center;
    display: block;
    margin: 0 0 0.8em 0; }
  #footer-content p {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    background: transparent;
    font-size: 1.1em;
    line-height: 1.4em;
    text-align: center; }
  #footer-content a {
    color: #bb1017;
    text-decoration: none; }
  #footer-content strong {
    font-size: 1.1em;
    line-height: 1em;
    color: #000000;
    font-weight: 600;
    text-align: center;
    display: block;
    margin: 0 0 0.8em 0; }

#footer-bottom-menu {
  position: relative;
  padding: 0.5em;
  margin: 0;
  border-top: 3px solid #679340;
  text-align: center;
  z-index: 1;
  background: #fff; }

#footer-bottom-menu {
  clear: both; }

#footer-bottom-menu .menu {
  position: relative;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  float: none;
  list-style-type: none;
  list-style-image: none;
  text-align: center;
  width: auto; }

#footer-bottom-menu .menu > li {
  text-align: left;
  margin: 1em;
  border: 0;
  padding: 0;
  float: none;
  display: inline-block;
  list-style: none;
  position: relative; }

.low-contrast #footer-bottom-menu .menu > li > a::before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background-image: url(../images/double-arrows-red.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  padding: 2px;
  content: " "; }

#footer-bottom-menu .menu > li > a:link,
#footer-bottom-menu .menu > li > a:visited {
  font-size: 1em;
  padding: 0 0 0 2em;
  line-height: 1em;
  text-decoration: none;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  margin: 0;
  display: block; }

.high-contrast #footer-bottom-menu .menu > li > a:link,
.high-contrast #footer-bottom-menu .menu > li > a:visited {
  text-transform: inherit;
  padding: 0.2em 0.5em;
  border: 1px solid #ffff14; }

.low-contrast #footer-bottom-menu .menu > li > a:hover,
.low-contrast #footer-bottom-menu .menu > li > a:active {
  color: #679340;
  text-decoration: underline;
  transition-duration: 0.6s; }

.high-contrast #footer-content {
  display: none; }

.high-contrast #footer-bottom-menu {
  border-top: 1px dotted #ffffff;
  background: inherit; }

.low-contrast #back-to-top {
  position: fixed;
  bottom: 5em;
  width: 50px;
  height: 50px;
  z-index: 10;
  opacity: 1;
  transition-duration: 1s;
  visibility: visible;
  display: block;
  right: 0; }
  .low-contrast #back-to-top a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #fefefe;
    color: #000000;
    text-decoration: none;
    border: 1px solid #f1f1f1; }
    .low-contrast #back-to-top a span {
      position: absolute;
      bottom: 6px;
      display: block;
      font-size: 0.9em;
      line-height: 0.9em;
      width: 100%;
      text-align: center; }
  .low-contrast #back-to-top i {
    position: absolute;
    background-image: url(../images/double-arrows-black-up.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-x: center;
    background-position-y: 5px; }

#back-to-top a span {
  text-align: left;
  display: block; }

[href~="http://www.artio.net"] {
  display: none !important; }

.spinner {
  margin: 1% auto; }

@media only screen and (max-width: 720px) {
  .desktop-only {
    display: none !important; } }
@media only screen and (min-width: 721px) {
  .mobile-only {
    display: none !important; } }
/* overlay */
#overlay {
  position: absolute;
  color: #679340;
  top: 21vw;
  height: 0;
  right: 0; }

#overlay .title {
  text-transform: uppercase;
  font-size: 3rem;
  color: #fff;
  background-color: #679340;
  padding: 2rem;
  padding-right: 8vw;
  border-radius: 10px 0 0 10px; }

#overlay .description {
  font-size: 1.8rem;
  padding-left: 0; }
  #overlay .description a:link, #overlay .description a:visited {
    display: inline-block;
    padding: 1.5rem;
    border-radius: 10px;
    margin-right: 1.5rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    transition: background-color .3s ease,color .3s ease;
    /*
        &.left {
          background-color: transparentize($secondary,0.5);
          border: 2px solid $secondary;
          &:hover {
            background-color: $secondary;
          }
        }
    */ }
    #overlay .description a:link.left, #overlay .description a:link.right, #overlay .description a:visited.left, #overlay .description a:visited.right {
      background-color: #679340;
      border: 2px solid #679340; }
      #overlay .description a:link.left:hover, #overlay .description a:link.right:hover, #overlay .description a:visited.left:hover, #overlay .description a:visited.right:hover {
        background-color: rgba(103, 147, 64, 0.7); }

/* mod_frontvideo fixes */
.tv {
  margin-top: -9vw !important;
  margin-bottom: 0 !important; }

.cover {
  position: relative !important;
  top: 0 !important;
  margin-bottom: 0 !important; }

/* JU Contact */
.juct-container {
  margin-top: 2rem;
  text-align: center;
  background-color: rgba(103, 147, 64, 0.5);
  transform: skew(0deg, -1deg); }
  .juct-container form {
    padding-bottom: 3rem;
    background-color: rgba(103, 147, 64, 0.5);
    transform: skew(0deg, 2deg); }
  .juct-container fieldset {
    border: 0;
    font-size: 1.6rem;
    line-height: 1.5;
    transform: skew(0deg, -1deg); }
  .juct-container legend {
    font-size: 3rem;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto; }
  .juct-container .field-group {
    display: inline-block;
    text-align: left;
    margin: 1em; }
  .juct-container .field-text {
    text-align: left;
    font-size: 0.8em; }
  .juct-container input[type=text],
  .juct-container textarea {
    padding: 0.5em;
    border-radius: 20px;
    border: 0; }
  .juct-container input[type=text] {
    width: 30vw;
    max-width: 400px; }
  .juct-container textarea {
    width: 75vw !important;
    max-width: 852px; }
  .juct-container .g-recaptcha {
    display: inline-block;
    margin: 3rem; }
  .juct-container .btn-submit-form {
    background-color: #e52728;
    padding: 1.5rem;
    border-radius: 10px;
    border: 2px solid #e52728;
    color: #fff;
    text-transform: uppercase;
    transition: background-color .3s ease,color .3s ease; }
    .juct-container .btn-submit-form:hover {
      background-color: transparent;
      color: #e52728; }
  .juct-container .error {
    color: #e52728;
    margin-left: 1rem;
    border-left: 2px solid #e52728;
    padding-left: 1rem; }

.recaptcha-checkbox-border {
  border-radius: 100%; }

/* mod_smartcountdown3 */
.smartcountdown {
  position: absolute;
  top: 7vw; }
  .smartcountdown .scd-counter {
    color: #679340;
    float: right;
    background-color: white;
    padding: 2rem;
    padding-right: 4vw;
    border-radius: 10px 0 0 10px; }
  .smartcountdown .scd-title {
    font-size: 1.5vw !important; }
    .smartcountdown .scd-title p {
      color: #679340;
      display: block;
      float: right;
      padding: 2rem;
      border-radius: 10px 0 0 10px;
      width: 53%;
      text-align: left; }
  .smartcountdown .scd-digit {
    font-size: 5vw !important; }
  .smartcountdown .scd-label {
    font-size: 2vw !important; }

/* testimonials */
.jmm-testimonials.default {
  font-size: 1.6rem;
  margin-top: 3rem;
  border-top: 2px solid #e52728;
  padding-top: 3rem;
  border-top-style: dashed; }
  .jmm-testimonials.default .jmm-row {
    display: none; }
    .jmm-testimonials.default .jmm-row.active {
      display: flex;
      justify-content: center; }
  .jmm-testimonials.default.indicators {
    padding-bottom: 80px !important; }
  .jmm-testimonials.default .carousel-indicators {
    position: absolute;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; }
    .jmm-testimonials.default .carousel-indicators li {
      width: 30px !important;
      height: 30px !important;
      border: 1px solid #e52728 !important;
      border-radius: 100%; }
    .jmm-testimonials.default .carousel-indicators li:hover,
    .jmm-testimonials.default .carousel-indicators .active {
      background-color: #e52728 !important; }

.jmm-comment {
  background-color: #ddd;
  padding: 1em;
  font-style: italic;
  border-radius: 25px; }
  .jmm-comment::before {
    display: inline-block;
    content: ' ';
    width: 40px;
    height: 30px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/3d/Cquote1_black.svg);
    float: left;
    margin-right: 1em; }

.jmm-author,
.jmm-profession {
  text-align: center;
  line-height: 1.5; }

.jmm-author::before {
  content: ' ';
  width: 50px;
  height: 50px;
  background-color: #ddd;
  display: inline-block;
  transform: rotate(45deg);
  position: absolute;
  top: -70px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1; }

/* special, used in "Dlaczego warto" */
.big-text {
  font-size: 3rem;
  color: #e52728; }

#sponsors {
  max-width: 100%;
  height: auto; }

#header-organizers > div {
  display: flex; }
#header-organizers a {
  margin-left: 3px; }
  #header-organizers a.logo.msit img {
    height: 4vw;
    padding: 1vw;
    background-color: #fff;
    box-sizing: initial; }
  #header-organizers a.logo.pot img {
    height: 6vw; }

#menu-nad-formularzem {
  display: flex;
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  justify-content: center;
  flex-wrap: wrap; }
  #menu-nad-formularzem li {
    display: block;
    padding: 0; }
    #menu-nad-formularzem li.item-225 a {
      background-image: url(../images/btn_dlaczego1.png); }
    #menu-nad-formularzem li.item-225:hover a {
      background-image: url(../images/btn_dlaczego2.png); }
    #menu-nad-formularzem li.item-226 a {
      background-image: url(../images/btn_poradnik1.png); }
    #menu-nad-formularzem li.item-226:hover a {
      background-image: url(../images/btn_poradnik2.png); }
    #menu-nad-formularzem li.item-229 span {
      background-image: url(../images/btn_telefony.png); }
    #menu-nad-formularzem li a, #menu-nad-formularzem li span {
      display: block;
      background-color: transparent;
      background-size: cover;
      font-size: 2rem;
      margin: 2vw 1vw;
      width: 336px;
      height: 104px;
      text-indent: -10000px; }

@media only screen and (max-width: 1070px) {
  #facebook-logo {
    margin-left: 0; }

  #header-modules {
    justify-content: flex-end; }

  #header-logo a {
    margin: 0; }
  #header-logo img {
    display: block; }

  #overlay .title {
    font-size: 2rem; }
  #overlay .description {
    font-size: 1.4rem; }

  #banner img {
    padding: 0;
    margin: 0; }

  main {
    margin-left: 2%;
    margin-right: 2%; }
    main .pzw-template-inside {
      margin: 0 auto; }

  .smartcountdown .scd-counter {
    color: #679340;
    float: right;
    background-color: white;
    padding: 2rem;
    padding-right: 2vw;
    border-radius: 10px 0 0 10px; }
  .smartcountdown .scd-title p {
    display: block;
    float: right;
    padding: 2rem;
    padding-right: 2vw;
    border-radius: 10px 0 0 10px;
    text-align: left; } }
@media only screen and (max-width: 800px) {
  #header-logo a {
    margin: 0; }
  #header-logo img {
    margin-top: 100px; }

  .smartcountdown {
    position: absolute; }

  #back-to-top,
  #facebook-logo,
  #contrast,
  #font-resize {
    display: none; }

  #overlay .title {
    font-size: 2rem; }
  #overlay .description {
    display: none; }

  .cover,
  .tv {
    display: block !important; }

  .jmm-testimonials.default .jmm-row.active {
    flex-direction: column;
    padding: 2%; } }
/* custom page CSS */
body.itemid-123 header,
body.itemid-226 header {
  box-shadow: 0px 1px 1px 1px #679340; }

/* offer form */
#skad2 {
  background-color: #679340;
  padding: 10px; }
  #skad2 label {
    padding-top: 3px; }
  #skad2 .help-block {
    margin: 0; }

/*# sourceMappingURL=style.css.map */
