$primary: #f49e06;
$secondary: #e52728;
$text: #fff;

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);

html {
  /* set to 10px for compatibility with Bootstrap-based components */
  font-size: 10px;
}

body {
  font-family: "Roboto Condensed",sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 1.4em;
  margin: 0;

  &.low-contrast {
    color: #000;
    line-height: 1em;
    letter-spacing: 0;
    padding: 0;
  }

  &.high-contrast {
    color: #ffffff;
    background: #000;
    letter-spacing: 0;
    padding: 1em;
  }
}

.custom p {
  line-height: 1.5;
  font-size: 1.9rem;
}

/* Hides text from user but leaves it accessible for screen readers. */
/* Source: http://webaim.org/techniques/css/invisiblecontent/ */
.hidden-text {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

nav li.default {
  display: none;
}

a:link, a:visited {
  font-style: normal;
  color: #000;
  text-decoration: underline;

  .high-contrast & {
    color: #ffff14;
  }
}

.high-contrast a:hover,
.high-contrast a:focus {
  outline: 3px solid #236aff;
}

h1 {
  font-size: 1.8em;
  line-height: 1em;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  padding: 0;
  margin: 0;
  position: relative;

  .high-contrast header & {
    display: block;
    padding: 20px;
    margin: 0.1em auto;
    height: auto;
    background: #333333;
    z-index: 1;

    font-size: 2.8em;
    text-align: center;
    clear: both;
  }
}

h3 {
  font-size: 1.4em;
  line-height: 1.3em;
  font-weight: normal;
  color: #000;
  text-align: left;
  padding: 0;
  margin: 0 0 0.5em 0;
}

ul {
  padding: 0 0 0 2em;
  margin: 1em;
  list-style-image: url(../images/arrow-white-in-red-box.png);
  text-align: left;

  li {
    padding: 0 0 0.5em 0;
    margin: 0;
  }
}

header {
  position: relative;
  display: block;
  height: auto;
  width: auto;
  background-color: $primary;
  z-index: 5;
  line-height: 0;

  .high-contrast & {
    background: #191919;
    text-align: center;
  }
}

#header-logo {
  z-index: 2;

  a {
    cursor: pointer;
    margin-left: 5%;
    text-indent: -1000em;
    text-decoration: none;
    position: absolute;
  }

  img {
    height: 600px;
    display: block;

    body.not-frontpage & {
      display: none;
    }

    body.itemid-123 & {
      height: 200px;
      display: block;
    }

    body.itemid-224 &,
    body.itemid-111 & {
      height: 600px;
      display: block;
    }
  }
}

#header-modules {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .high-contrast & {
    padding: 1em;
    height: auto;
    display: inline-block;
  }
}

#header-modules > div {
  .high-contrast & {
    padding: 0;
  }
}

#contrast a,
#contrast a:visited {
  text-decoration: none;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  padding: 0;
  margin: 0;
  display: block;

  background-image: url(../images/contrast.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

.high-contrast #contrast a,
.high-contrast #contrast a:visited,
.high-contrast #font-resize>a:link,
.high-contrast #font-resize>a:visited {
  padding: 0.3em 0.5em;
  border: 1px solid #ffff14;
  text-transform: none;
}

#font-resize{
    display: flex;

    &>a {
    text-decoration: none;
    display: inline-block;

    .low-contrast & {
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      &::before {
        content: "A";
      }
    }
  }
}

.low-contrast #font-resize-small {
  font-size: 1.4rem;
}
.low-contrast #font-resize-medium {
  font-size: 2rem;
}
.low-contrast #font-resize-large {
  font-size: 2.6rem;
}

#mobile-menu-checkbox,
#mobile-menu-label {
  display: none;
}

nav {
  display: flex;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    @media only screen and (min-width: 1071px) {
      display: flex;
      align-items: flex-end;
      text-align: center;
    }
  }
}

body.high-contrast>nav {
  float: left;
  width: 25%;
  background: none;
  border: 0;

  ul {
    background-color: #191919;
    padding: 10px;
    clear: both;
    display: block;
  }
}

body.high-contrast>nav li {
  display: block;
}

body nav a:link,
body nav a:visited {
  display: block;
  color: #fff;
  font-size: 1.2em;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.7em 0.7em;
  border-bottom: 2px solid $primary;
  border-top: 2px solid $primary;
  transition: color .3s ease;
}

body nav a:hover,
body nav li.active > a {
  border-bottom: 2px solid #fff;
}

body nav a:hover {
  color: $secondary;
}

body.high-contrast>nav a:link,
body.high-contrast>nav a:visited
body.high-contrast>nav li.active > a {
  border: 0;
  font-size: 1.6em;
  line-height: 1.2em;
  padding: 6px 4px 6px 0;
  text-transform: none;
}

body.high-contrast>nav a:hover,
body.high-contrast>nav li.active > a {
  color: white;
}

.pzw-template-inside {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

#breadcrumbs {
  position: relative;
  display: block;
  text-align: left;
  padding: 0.5em;
  margin: 1em 0 1em 0;
  height: 1%;
  border: 1px solid #333333;
  background: transparent;
  font-size: 0.9em;
  line-height: 1em;

  ul {
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style-image: none;
    width: auto;
    display: inline-block;

    li {
      position: relative;
      float: left;
      display: inline;
      margin-left: 0.5em;
      padding: 0;
      border: 0;
      text-align: center;
      list-style: none;
    }
  }

  .low-contrast & {
    display: none;
  }
}

.not-frontpage main .pzw-template-inside {
  margin: 4em auto;
}

.high-contrast .pzw-template-inside {
  margin: 0;
  max-width: none;
}

.high-contrast header .pzw-template-inside {
  height: auto;
}

#facebook-logo {
  width: 29px;
  height: 29px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 10vw;

  .low-contrast & {
    background-image: url(../images/facebook-blue.png);
  }

  .high-contrast & {
    background-image: url(../images/facebook-white.png);
  }
}

.bannergroup {
  position: relative;
  text-align: center;

  .high-contrast & {
    float: left;
    width: 75%;
  }

  img {
    max-width: 100%;
    height: auto;

    .high-contrast & {
      margin: 0;
    }
  }

  &.horizontal {
    text-align: center;
    margin: 0 auto;

    @media only screen and (min-width: 721px) {
      display: table;

      .bannerrow {
        display: table-row;

        .banneritem {
          display: table-cell;
          line-height: 0;
        }
      }

      &.cell-spacing-10 {
        border-spacing: 10px;
      }

      &.img-spacing-10 {
        img {
          margin-left: 2px;
          margin-right: 2px;
        }
        .banneritem:first-child img {
          margin-left: 0;
        }
        .banneritem:last-child img {
          margin-right: 0;
        }
      }
    }
  }

  &.animated {
    .banneritem {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
    }
  }
}

main {
  .low-contrast & {
    margin-left: 2%;
    margin-right: 2%;
  }

  .high-contrast & {
    float: left;
    width: 73%;
    margin-left: 1%
  }
}

main .item-page {
  font-size: 1.1em;
  line-height: 1.6em;
  font-weight: normal;
  text-align: left;
  padding: 0;
  margin: 0;
  position: relative;
}

main .item-page strong {
  font-weight: 700;
}

main .page-header a,
main .blog-featured .item-title a {
  text-decoration: none;
}

main .item-page > .page-header,
main .blog > .page-header,
main .blog-featured > .page-header {
  position: relative;
  margin: 1em 0;
  padding: 0;
  width: auto;
  min-height: 20px;
  text-align: center;
  border-bottom: 1px solid #f3f3f3;

  .high-contrast & {
    margin: 0;
    border: 0;
    text-align: left;
    min-height: none;
  }
}

main .page-header h2 {
  position: relative;
  display: inline-block;
  padding: 0 0 0.5em;
  margin: 0;
  text-align: center;
  font-weight: 700;
  text-transform: none;
  font-size: 3em;
  line-height: 1em;

  .high-contrast & {
    font-size: 1.6em;
    line-height: 1em;
    font-weight: bold;
    text-align: left;
    padding: 0;
  }
}

main img {
  max-width: 100%;
  height: auto;
}

main .page-header h3 {
  font-size: 1.4em;
  line-height: 1.2em;
  font-weight: normal;
  color: #000;
  text-align: left;
  padding: 0;
  margin: 0 0 0.5em 0;
  border: 0;
}

main .page-header time,
main .blog-featured .item time {
  position: relative;
  background: $primary;
  display: inline-block;
  width: auto;
  text-align: left;
  padding: 0.2em;
  margin: 0.3em 0;
  height: 1%;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  font-size: 0.9em;
  line-height: 1em;
}

main .blog .item,
main .blog-featured .item {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 2em;
  overflow: hidden;
  list-style: none;
  text-align: left;
  border-bottom: 1px solid #f1f1f1;

  h3 {
    margin: 0 0 0.3em 0;
    color: #000;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    font-size: 1.6em;
    line-height: 1em;

    display: inline-block;
    vertical-align: text-top;
    padding-left: 1em;
  }
}

main .blog .row-0 h3>a,
main .blog-featured .row-0 h3>a {
  color: $primary;
}

main .blog .item p,
main .blog-featured .item p {
  display: block;
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 1em 0 0.5em;
}

main .blog .item .readmore a:link,
main .blog .item .readmore a:visited,
main .blog-featured .item .readmore a:link,
main .blog-featured .item .readmore a:visited {
  display: block;
  text-decoration: none;
  line-height: 1.1em;
  font-style: italic;
}

main .blog .item .icon-chevron-right,
main .blog-featured .item .icon-chevron-right {
  position: relative;
  display: inline-block;
  float: right;
  margin: 1em 0 0 0;
  color: $primary;
  border: 1px solid $primary;
  transition: 0.5s;

  &::after {
    position: relative;
    display: inline-block;
    float: none;
    padding: 0.3em;
    content: ">";
    color: $primary;
  }

  &:hover {
    background-color: $primary;

    &::after{
      color: #fff;
    }
  }
}

main .icons {
  position: relative;
  padding: 1em 0;
  margin: 0;
  z-index: 1;
  border: 0;
  min-height: 50px;

  .dropdown-menu {
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style-image: none;
    width: auto;

    & > li {
      position: relative;
      float: left;
      display: inline;
      margin-right: 0.5em;
      padding: 0;
      border: 0;
      text-align: center;
      list-style: none;

      & > a {
        display: inline-block;
        border: 1px solid #7d7d7d;
        font-size: 0.8em;
        line-height: 1em;
        text-decoration: none;
        text-transform: uppercase;
        transition-duration: 1s;

        position: relative;
        padding: 0.5em 0.3em;

        .high-contrast & {
          border: 1px solid #ffff14;
        }
      }
    }
  }
}

main .pagination ul {
  text-align: center;
}

main .pagination li {
  list-style: none;
  display: inline;

  a {
    border: 1px solid $primary;
    text-decoration: none;

    &:hover {
      background: $primary;
      color: #ffffff;
      text-decoration: none;
      transition: all 0.2s ease-in;
    }
  }
}

main .pagination li a,
main .pagination li span {
  line-height: 1em;
  padding: 0.3em 0.5em 0.3em 0.5em;
  font-size: 1.3em;
}

main .item-pagefrontpage > .page-header,
main .item-pagefrontpage > .icons,
main .item-pagefrontpage > .article-info,
main .item-page > .article-info,
.element-invisible,
main .article-info-term,
main .createdby,
main .category-name,
main .published,
main .hits,
main .pager,
main .pagination .counter,
main .pagination .pagination-start,
main .pagination .pagination-end,
main .search .result-category
{
  display: none;
}

footer {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: auto;
  clear: both;

  .high-contrast & {
    background: inherit;
    border: 0;
  }
}

body.not-frontpage footer {
  border-top: 2px solid $primary;
}

#organizers {
  display: none;
  //display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: left;

  & > div {
    display: flex;
    align-items: flex-end;
    margin-bottom: 2rem;
  }

  img {
    height: 4rem;
    margin-right: 1.5rem;
  }
}


#footer-content {
  position: relative;
  min-width: 50%;
  width: 100%;
  float: left;
  z-index: 1;
  font-size: 1.1em;
  line-height: 1em;
  color: #000000;
  text-align: center;
  display: block;

  .custom {
    display: inline-block;
    vertical-align: top;
    width: 25%;
  }

  h3 {
    font-size: 1.1em;
    line-height: 1em;
    color: #000000;
    font-weight: 600;
    text-align: center;
    display: block;
    margin: 0 0 0.8em 0;
  }

  p {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    background: transparent;
    font-size: 1.1em;
    line-height: 1.4em;
    text-align: center;
  }

  a {
    color: #bb1017;
    text-decoration: none;
  }

  strong {
    font-size: 1.1em;
    line-height: 1em;
    color: #000000;
    font-weight: 600;
    text-align: center;
    display: block;
    margin: 0 0 0.8em 0;
  }
}

#footer-bottom-menu,
#footer-right-menu {
  position: relative;
  padding: 0.5em;
  margin: 0;
  border-top: 3px solid $primary;
  text-align: center;
  z-index: 1;
  background: #fff;
}

#footer-bottom-menu {
  clear: both;
}

#footer-right-menu {
  width: 30%;
  float: right;
  border-top: 0;
  background: #717171;
  text-align: left;
}

#footer-bottom-menu .menu,
#footer-right-menu .menu
 {
  position: relative;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  float: none;
  list-style-type: none;
  list-style-image: none;
  text-align: center;
  width: auto;
}

#footer-right-menu .menu {
  text-align: left;
  float: left;
  clear: left;
}

#footer-bottom-menu .menu > li,
#footer-right-menu .menu > li {
  text-align: left;
  margin: 1em;
  border: 0;
  padding: 0;
  float: none;
  display: inline-block;
  list-style: none;
  position: relative;
}

#footer-right-menu .menu > li {
  width: 100%;
}

.low-contrast #footer-bottom-menu .menu > li > a::before,
#footer-right-menu .menu > li > a::before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background-image: url(../images/double-arrows-red.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  padding: 2px;
  content: "\00a0"
}

#footer-right-menu .menu > li > a::before {
  background-image: url(../images/double-arrows-white.png);
}

#footer-bottom-menu .menu > li > a:link,
#footer-bottom-menu .menu > li > a:visited,
#footer-right-menu .menu > li > a:link,
#footer-right-menu .menu > li > a:visited {
  font-size: 1em;
  padding: 0 0 0 2em;

  line-height: 1em;
  text-decoration: none;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  margin: 0;
  display: block;
 }

 .high-contrast #footer-bottom-menu .menu > li > a:link,
 .high-contrast #footer-bottom-menu .menu > li > a:visited {
   text-transform: inherit;
   padding: 0.2em 0.5em;
   border: 1px solid #ffff14;
 }

 #footer-right-menu .menu > li > a:link,
 #footer-right-menu .menu > li > a:visited {
   color: #fff;
 }


 .low-contrast #footer-bottom-menu .menu > li > a:hover,
 .low-contrast #footer-bottom-menu .menu > li > a:active {
  color: $primary;
  text-decoration: underline;
  transition-duration: 0.6s;
 }

 .high-contrast #footer-content,
 .high-contrast #footer-right-menu {
   display: none;
 }

 .high-contrast #footer-bottom-menu {
   border-top: 1px dotted #ffffff;
   background: inherit;
 }

.low-contrast #back-to-top {
  position: fixed;
  bottom: 5em;
  width: 50px;
  height: 50px;
  z-index: 10;
  opacity: 1;
  transition-duration: 1s;
  visibility: visible;
  display: block;
  right: 0;

  a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #fefefe;
    color: #000000;
    text-decoration: none;
    border: 1px solid #f1f1f1;

    span {
      position: absolute;
      bottom: 6px;
      display: block;
      font-size: 0.9em;
      line-height: 0.9em;
      width: 100%;
      text-align: center;
    }
  }

  i {
    position: absolute;
    background-image: url(../images/double-arrows-black-up.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-x: center;
    background-position-y: 5px;
  }
}

#back-to-top a span {
  text-align: left;
  display: block;
}

@media only screen and (max-width: 1070px) {
  #footer-content {
    .custom {
      width: 45%;
    }
  }

  #footer-right-menu .menu > li {
    margin-left: 0;
    margin-right: 0;
  }

  .low-contrast header {
    border-bottom: 3px solid $primary;
  }

  .low-contrast #header-modules > div,
  .low-contrast #back-to-top a span {
    display: none;
  }

  .low-contrast #header-modules > div.subtitle {
    display: block;
  }

  .low-contrast #mobile-menu-label {
    display: block;
    background-image: url(../images/hamburger.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    width: 34px;
    height: 29px;
    position: absolute;
    right: 15px;
    top: 45px;
    cursor: pointer;
  }

  .high-contrast header h1 {
    padding: 10px;
    font-size: 2em;
  }

  .high-contrast #mobile-menu-label {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    padding: 15px;
    margin: 5px;
    border: 1px solid #ffff14;
    color: #ffff14;
  }

  #mobile-menu-checkbox + #mobile-menu-label + nav {
    display:none;
  }

  #mobile-menu-checkbox:checked + #mobile-menu-label + nav {
    display:block;
  }

  body>nav {
    position: relative;
    background-color: white;
    height: auto;
  }

  body.high-contrast>nav {
    background-color: inherit;
    width: 100%;
    float: none;
    left: 0;
  }

  body.low-contrast>nav .pzw-template-inside {
    width: 100%;
  }

  body.low-contrast>nav li {
    width: 100%;
    border-bottom: 1px solid #a6b5bc;
  }

  body.low-contrast>nav a:link,
  body.low-contrast>nav a:visited {
    color: black;
    font-weight: normal;
    text-align: center;
    padding: 2em;
    border-bottom: 0;
  }

  body.low-contrast>nav a:hover {
    background-color: lightgray;
  }

  body.high-contrast>nav a:link,
  body.high-contrast>nav a:visited {
    text-align: center;
  }

  .low-contrast #back-to-top {
    width: 30px;
    height: 33px;
  }

  #banner img {
    padding: 0;
    margin: 0;

    .high-contrast & {
      float: left;
      width: 100%;
    }
  }

  main {
    margin-left: 2%;
    margin-right: 2%;

    .pzw-template-inside {
      margin: 0 auto;
    }
  }

  .high-contrast main {
    float: left;
    width: 96%;
  }
}

@media only screen and (max-width: 720px) {
  .low-contrast header .pzw-template-inside {
    height: 80px;
  }

  .high-contrast header {
    text-align: right;
  }

  .high-contrast #header-modules > div {
    margin: 0.3em 0.5em 0 0;
  }

  #header-logo {
    width: 162px;
    height: 80px;
  }

  .high-contrast #font-resize {
    display: none;
  }

  .low-contrast #mobile-menu-label {
    top: 29px;
    background-size: 100%;
    width: 31px;
  }

  #footer-content,
  #footer-right-menu {
    width: 100%;
  }

  #footer-content {
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 1.2rem;

    img {
      width: 50%;
      height: 50%;
    }

    .custom {
      width: 100%;
      padding-bottom: 1em;
      padding-top: 1em;
      border-bottom: 1px solid lightgray;
    }
  }
}

[href~="http://www.artio.net"] {
  display: none!important;
}

.spinner {
  margin: 1% auto;
}

@media only screen and (max-width: 720px) {
  .desktop-only {
    display: none !important;
  }
}

@media only screen and (min-width: 721px) {
  .mobile-only {
    display: none !important;
  }
}

/* overlay */

#overlay {
  position: absolute;
  color: #f49e06;
  top: 60vh;
  height: 0;
  right: 0;
}

#overlay .title {
  text-transform: uppercase;
  font-size: 3rem;
  background-color: rgba(255,255,255,0.8);
  padding: 2rem;
  padding-right: 8vw;
  border-radius: 10px 0 0 10px;
}

#overlay .description {
  font-size: 2rem;

  a:link, a:visited {
    display: inline-block;

    padding: 1.5rem;
    border-radius: 10px;

    margin-right: 1.5rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8rem;
    transition: background-color .3s ease,color .3s ease;

    &.left {
      background-color: transparentize($secondary,0.5);
      border: 2px solid $secondary;
      &:hover {
        background-color: $secondary;
      }
    }
    &.right {
      background-color: transparentize($primary,0.5);;
      border: 2px solid $primary;
      &:hover {
        background-color: $primary;
      }
    }
  }
}

/* mod_frontvideo fixes */

.tv {
  margin-top: -56px!important;
  margin-bottom: 0 !important;
}

.cover {
  position: relative !important;
  top: 0 !important;
  margin-bottom: 0 !important;
}

/* split-choice */

#split-choice {
  margin-top: -10vh;
  text-align: center;

  &>div {
    display: flex;
    justify-content: center;
  }

  .tab {
    display: inline-block;
    text-align: left;
    width: 300px;
    padding: 50px;
    color: #fff;
    transition: background-color .3s ease;

    &.left {
      background-color: transparentize($secondary, 0.3);
      margin-right: 2%;

      a:link, a:visited {
        background-color: $primary;
        border: 2px solid $primary;
        color: #fff;
      }

      a:hover {
        background-color: transparent;
        color: $primary;
      }

      &:hover {
        background-color: transparentize($secondary, 0);
      }
    }

    &.right {
      background-color: transparentize($primary, 0.3);
      margin-left: 2%;

      a:link, a:visited {
        background-color: $secondary;
        border: 2px solid $secondary;
        color: #fff;
      }

      a:hover {
        background-color: transparent;
        color: $secondary;
      }

      &:hover {
        background-color: transparentize($primary, 0);
      }
    }

    p {
      font-size: 2rem;
      line-height: 1.5;
    }

    a:link, a:visited {
      display: inline-block;
      padding: 1.5rem;
      border-radius: 2px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.4rem;
      transition: background-color .3s ease,color .3s ease;

      float: right;
    }

    &:hover img {
      transform: scale(1.1);
    }
  }

  .zoomable-image {
    position: relative;
    overflow: hidden;

    width: 300px;
    height: 300px;
    display: inline-block;

    img {
      max-width: 100%;
      transition: all 0.3s;
    }

    &:hover img {
      transform: scale(1.1);
    }
  }
}

/* JU Contact */
.juct-container {
  margin-top: 2rem;
  text-align: center;
  background-color: transparentize($primary, 0.5);
  transform: skew(0deg, -1deg);

  form {
    padding-bottom: 3rem;
    background-color: transparentize($primary, 0.5);
    transform: skew(0deg, 2deg);
  }

  body.high-contrast & {
    background-color: unset;
  }

  fieldset {
    border: 0;
    font-size: 1.6rem;
    line-height: 1.5;

    transform: skew(0deg, -1deg);
  }

  legend {
    font-size: 3rem;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .field-group {
    display: inline-block;
    text-align: left;
    margin: 1em;
  }

  .field-text {
    text-align: left;
    font-size: 0.8em;
  }

  input[type=text],
  textarea {
    padding: 0.5em;
    border-radius: 20px;
    border: 0;
  }

  .g-recaptcha {
    display: inline-block;
    margin: 3rem;
  }

  .btn-submit-form {
    background-color: $secondary;
    padding: 1.5rem;
    border-radius: 10px;
    border: 2px solid $secondary;
    color: #fff;
    text-transform: uppercase;
    transition: background-color .3s ease,color .3s ease;

    &:hover {
      background-color: transparent;
      color: $secondary;
    }
  }

  .error {
    color: $secondary;
    margin-left: 1rem;
    border-left: 2px solid $secondary;
    padding-left: 1rem;
  }
}

.recaptcha-checkbox-border {
  border-radius: 100%;
}

/* mod_smartcountdown3 */

.smartcountdown {
  position: absolute;
  top: 60vh;

  .scd-counter {
    color: $primary;
    float: right;
    background-color: rgba(255,255,255,1);
    padding: 2rem;
    padding-right: 8vw;
    border-radius: 10px 0 0 10px;
  }

  .scd-title p {
    color: $secondary;
    display: block;
    float: right;
    background-color: rgba(255,255,255,0.7);
    padding: 2rem;
    padding-right: 8vw;
    border-radius: 10px 0 0 10px;
    width: 50%;
    text-align: left;
  }
}

/* testimonials */

.jmm-testimonials.default {
  font-size: 1.6rem;
  margin-top: 3rem;

  border-top: 2px solid $secondary;
  padding-top: 3rem;
  border-top-style: dashed;

  .jmm-row {
    display: none;

    &.active {
      display: flex;
      justify-content: center;
    }
  }

  &.indicators {
    padding-bottom: 80px !important;
  }

  .carousel-indicators {
    position: absolute;
    display: flex;
    list-style: none;
    margin: 0;

    li {
      width: 30px !important;
      height: 30px !important;
      border: 1px solid $secondary !important;
      border-radius: 100%;
    }

    li:hover,
    .active {
      background-color: $secondary !important;
    }
  }
}

.jmm-comment {
  background-color: #ddd;
  padding: 1em;
  font-style: italic;
  border-radius: 25px;

  &::before {
    display: inline-block;
    content: ' ';
    width: 40px;
    height: 30px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/3d/Cquote1_black.svg);
    float: left;
    margin-right: 1em;
  }
}

.jmm-author,
.jmm-profession {
  text-align: center;
  line-height: 1.5;
}

.jmm-author::before {
  content: ' ';
  width: 50px;
  height: 50px;
  background-color: #ddd;
  display: inline-block;
  transform: rotate(45deg);
  position: absolute;
  top: -70px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

/* special, used in "Dlaczego warto" */

.big-text {
  font-size: 3rem;
  color: $secondary;
}

#sponsors {
  max-width: 100%;
  height: auto;
}

#header-organizers {
  &>div {
    display: flex;
  }

  a.left {
    margin-right: 5px;
  }

  a.right {
    &::before {
      content: ' ';
      position: absolute;
      border-right: 1px solid #f49e06;
      right: 77px;
      top: 0;
      display: block;
      height: 50px;
    }
  }

  img {
    max-height: 40px;
    background-color: #fff;
    padding: 5px;
  }
}
